@media (min-width: 440px){
  .navbar{
    background-color: black;
  }
  .form_container{
    text-align: center;
    margin-top: 40%;
  
  }
  h2{
    margin-top: 5%;
  }
  .credentials{
    margin-top: 10%;
  }
}
@media (min-width: 767px){
  .navbar{
    background-color: black;
  }
  .form_container{
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
  }
}
@media (min-width: 1024px){
  .navbar{
    background-color: black;
  }
  .form_container{
    width: 40%;
    margin-left: 7%;
  }
}
@media (min-width: 1280px){
  .navbar{
    background-color: black;
  }
  .form_container{
    width: 30%;
    margin-top: 6%;
  }
}
@media (min-width: 1880px){
  .navbar{
    background-color: black;
  }
  .form_container{
    width: 25%;
    margin-top: 6%;
  }
}








/*                      GENERAL                   */
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}
body{
  background:url(https://s.rsg.sc/sc/images/react/games/gtav/blocker/bg_l.jpg);
  background-repeat: no-repeat;
  color: white;
}
.form_container{
  border: transparent ;
  height: 65vh;
  background-color: rgba(36, 32, 32, 0.344);
  border-radius: 10px;
  padding: 3px;
}
.credentials{
  /* border: solid red; */
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.box{
  padding: 6px;
  width: 50%;
  border-radius: 10px;
  background-color: rgba(78, 73, 73, 0.388) ;
  color: white;
}
a{
  color: white;
}
.clickbuttons{
  /* border: solid blue; */
  height: 7vh;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
button{
  width: 40%;
  font-size: 20px;
  
}
.btn1{
  background-color: rgb(255, 166, 0);
}
.btn2{
  background-color: transparent;
  color: white;
}
button:hover{
  background-color:rgba(255, 255, 255, 0.552);
  transition:1s;

}
.optionlogo{
  /* border: solid red; */
  height: 6vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 4%;
}
.singopt{
  /* border: solid green; */
  margin-top: 3px;
}
.iconlogo{
  /* border: solid white; */
  width: 20%;
  margin: 3px;
}

